@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ruda:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import "tailwindcss";

body {
    overflow: hidden;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    /* Background colors */
    --color-primary: #fff;
    /* light gray for light mode */
    --color-primary-dark: #1a1a1a;
    /* rich modern black (like Tailwind's zinc-950) */

    /* Text colors */
    --color-text-primary: #1f2937;
    /* slate-800 */
    --color-text-primary-dark: #f3f4f6;
    /* gray-100 */

    --color-border-primary: #f3f4f6;
    /* gray-100 */
    --color-border-primary-dark: #232327;
    /* gray-500 */

    /* Accent gradient (optional) */
    --gradient-from: #2563eb;
    /* blue-600 */
    --gradient-to: #9333ea;
    /* purple-600 */

    --font-nunito: Nunito Sans, "sans-serif";
    --font-ruda: Ruda, "sans-serif";
    --font-manrope: Manrope, "sans-serif";
}